# python
*.py[cod]
*$py.class
__pycache__/
*.so
build/
dist/
*.egg-info/
.env
venv/
.pytest_cache/
.coverage
*.log

# golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# vscode
.history/

# binaries
go/cli/cli
go/main

# private sample files
private/